/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/

html,body{
    margin: 0 0;
    scroll-behavior: smooth;
}

/*liveMap begins*/
#liveMap{
    float: left;
    width: 50%;
    height: 100%;
    position:fixed;
    background-color: aqua;
    left: 0;
    top: 0;
}

#liveMap > iframe{
    width: 100%;
    height: 100%;

}

/*liveMap ends*/


/*mapStops begin*/
#mapStops{
    margin-left:55%; 
    margin-top: 10%;
}

#mapStops > *{
    font-size: xx-large;
}

#mapStops li::marker{
    content:"[" counter(list-item)"] ";
    color: rgba(0,0,0,0.5);
}

.endNode{
    color: brown;
}
/*mapStops end*/
/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/