/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
#section1{
    background-image: url("assets/F29A5FAE-B8A8-40E2-B664-71A82A84F525.JPEG");
    min-height: 80%;
    background-attachment: fixed;
}

#section1 > h1{
    text-align: center;
}
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  