/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/

html,body{
    background-image: url("/assets/paper.jpg");
    z-index: 0;
    margin: 0 0;
    scroll-behavior: smooth;
}

/*navbar begins*/

nav{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

nav a{
    text-decoration: none;
    color: aliceblue;
}

nav *{
    display: inline;
    border: 1px solid aliceblue;
    list-style-type: none;
    padding: 3px;
    margin: 10px;
}

nav > img{
    position: fixed;
    left: 25%;
    color: aliceblue;
    background-color: rgb(36, 37, 44);
}

nav > ul{
    position: fixed;
    right: 0;
    border: 3px solid yellow;
}

nav li{
    background-color: rgb(36, 37, 44);
    color: aliceblue;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 2px;
}

/*navbar ends*/


/* section1 begins*/
.bgImg{
    background-image: url("/assets/F29A5FAE-B8A8-40E2-B664-71A82A84F525.JPEG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

#section1{
    margin-top: 45px;
    padding-top: 20%;
    padding-bottom: 20%;
}

#section1 > *{
    display: block;
    text-align: center;
    background-color: rgba(201, 203, 194,0.75);
    border: 0 solid black;
    border-radius: 5%;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: auto;
}

#section1 > h1{
    font-size:40px;
    font-family:'Courier New', Courier, monospace;
}

#section1 > h2{
    font-size:larger;
    font-family: cursive;
}

#section1 a{
    font-weight: bolder;
    font-size: larger;
    margin-top: 150px;
    border-radius: 55%;
    padding: 25px;
    background-color: bisque;
    scroll-behavior: smooth;
} 

/* section1 ends*/

/*section2 begins*/
#section2{
    margin-top: 200px;
    margin-bottom: 600px;
}

/*section2 ends*/


/* retrieveSec begins*/
#retrieveSec{
    padding-top: 30px;
    padding-bottom: 30px;
    float: left;
    width: 42%;
    margin-left: 8%;
    border-right: 5px double black;
}

#retrieveSec >h2{
    margin-top: -100px;
    margin-bottom: 100px;
}

/* retrieveSec ends*/


/* driveSec begins*/
#driveSec{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 20%;
    float: left;

}

#or{
    display: block;
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* driveSec ends*/


/*footer begins*/
footer{
    margin: 0 0 0 0;
    background-color: rgba(69, 63, 63, 0.5);
    color: rgb(10, 28, 43);
    clear: left;
}

footer > ul{
    margin: 0 0;
    list-style: none;
}

footer a{
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
}

/* footer ends*/
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  